In [109]:
#Previsão de demanda

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import matplotlib.pyplot as plt

In [110]:
df = pd.read_csv('plan/train.csv')

df['date'] = pd.to_datetime(df['date'])

df = df.filter(["date", "item", "sales"]).groupby([pd.Grouper(key="date", freq="W-MON"), "item"]).sum().reset_index()

df

            date  item  sales
0     2013-01-07     1    894
1     2013-01-07     2   2320
2     2013-01-07     3   1444
3     2013-01-07     4    834
4     2013-01-07     5    664
...          ...   ...    ...
13045 2018-01-01    46   3182
13046 2018-01-01    47   1166
13047 2018-01-01    48   2655
13048 2018-01-01    49   1546
13049 2018-01-01    50   3411

[13050 rows x 3 columns]

In [111]:

# Defina uma função para aplicar o deslocamento de vendas por item
def add_shift_sale(group):
    group['shift_sale'] = group['sales'].shift(1)
    return group.iloc[1:]

# Agrupar o DataFrame por 'item' e aplicar a função para cada grupo
df = df.groupby('item').apply(add_shift_sale).reset_index(drop=True)

df

            date  item  sales  shift_sale
0     2013-01-14     1    863       894.0
1     2013-01-21     1    867       863.0
2     2013-01-28     1    816       867.0
3     2013-02-04     1    969       816.0
4     2013-02-11     1    920       969.0
...          ...   ...    ...         ...
12995 2017-12-04    50   4503      5517.0
12996 2017-12-11    50   3829      4503.0
12997 2017-12-18    50   3856      3829.0
12998 2017-12-25    50   3900      3856.0
12999 2018-01-01    50   3411      3900.0

[13000 rows x 4 columns]

In [112]:
models = []
predicted_sales = []
metric_mse = []
metric_mae = []
metric_r2 = []
item_df = []

n = df['item'].nunique()

for item in range(1, n + 1):
    item_data = df[df['item'] == item]

    X = item_data[['sales', 'shift_sale']]
    y = item_data['sales']

    # Normalização dos dados
    scaler = StandardScaler()
    X = scaler.fit_transform(X)
    y = np.ravel(y)

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)

    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)


    item_models[item] = model
    item_predictions[item] = y_pred[0]
    item_metric[item] = [mse, mae, r2]

    item_df.append(item)
    predicted_sales.append(y_pred[0])
    metric_mse.append(mse)
    metric_mae.append(mae)
    metric_r2.append(r2)


df_final = pd.DataFrame({'Item': item_df, 'Previsão de Vendas': predicted_sales, 'MSE': metric_mse, 'MAE': metric_mae, 'R2':  metric_r2})

df_final

    Item  Previsão de Vendas          MSE        MAE        R2
0      1             2137.79    29.530154   3.813462  0.999746
1      2             5648.69  1154.425221  15.099423  0.998540
2      3             3534.74   155.296058   7.196538  0.999486
3      4             2160.58    82.128633   5.332115  0.999272
4      5             1812.28    34.167125   3.358654  0.999581
5      6             5694.52  1081.371117  15.100192  0.998599
6      7             5658.00   367.017696  13.189615  0.999529
7      8             7565.03  1382.911210  20.088654  0.998991
8      9             4957.51   347.636121   9.409423  0.999412
9     10             7128.81   779.350063  17.729038  0.999343
10    11             6856.21   736.708169  16.058077  0.999343
11    12             6829.18  1544.520927  16.687692  0.998651
12    13             8156.10   830.640333  17.805962  0.999486
13    14             5698.20   180.568208  10.645385  0.999769
14    15             8629.52   536.583360  15.970192  0.999696
15    16             2517.70   140.527883   6.509423  0.999096
16    17             3158.03   111.445927   6.477308  0.999547
17    18             8306.66  4058.456698  33.093269  0.997580
18    19             3947.22   203.568823   7.640385  0.999451
19    20             4637.49   264.747567   8.752115  0.999488
20    21             3938.76   372.015771   9.719038  0.999055
21    22             7620.39   897.421106  15.932115  0.999383
22    23             2775.52    47.308990   4.650577  0.999751
23    24             6412.61   259.709654  10.137308  0.999733
24    25             7785.70  1584.836879  20.550962  0.998953
25    26             4644.15   128.533527   6.346538  0.999750
26    27             2187.06   172.477523   5.468846  0.998506
27    28             8387.73  1385.475735  20.960385  0.999229
28    29             6876.72   606.571983  14.441731  0.999463
29    30             3943.43   204.881825   7.606346  0.999454
30    31             5629.28   339.875727   9.598462  0.999554
31    32             4283.62   159.637167   9.681346  0.999639
32    33             6740.12  1099.357313  13.879423  0.999014
33    34             2515.42    97.559594   6.391346  0.999344
34    35             6519.52   604.872052  14.881346  0.999386
35    36             7498.07   776.288992  16.785000  0.999428
36    37             2793.50    86.940935   5.182692  0.999568
37    38             7783.47  1035.050140  20.144038  0.999307
38    39             4195.91   276.671188   8.410385  0.999376
39    40             2840.90   217.135785   6.836538  0.998918
40    41             2149.89    75.378002   4.062885  0.999343
41    42             3548.01   190.761487   6.987500  0.999362
42    43             4936.31   351.703765  10.755385  0.999410
43    44             2809.89    81.540442   5.647308  0.999591
44    45             7877.28  1490.583098  22.970962  0.999018
45    46             5701.19   299.351665  12.154231  0.999630
46    47             2150.60    34.918663   3.913269  0.999696
47    48             4935.36   465.359538  11.195000  0.999229
48    49             2881.50   470.597390   6.964423  0.997815
49    50             6416.55   740.888498  17.059808  0.999264